:global {
  @import "../../containers/App/buttons";
  .global-region-container {
    padding: 66px 10px;
    .region-description {
      width: 100%;
      display: flex;
      .left-part {
        width: 400px;
        height: 300px;
        .region-image {
          width: 100%;
          height: 260px;
          img {
            max-width: 100%;
            max-height: 100%;
            padding: 0px;
            margin: 0px;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .show-more {
          color: #808080;
          font-weight: bold;
          font-size: 12px;
          margin-top: 3px;
          display: inline-block;
          transition: background-color 0.5s, color 0.5s;
          padding: 5px;
          &:hover {
            cursor: pointer;
            background-color: #213460;
            color: white;
          }
        }
      }
      .right-part {
        margin-left: 20px;
        width: calc(100% - 420px);
        .region-title {
          font-size: 20px;
          font-weight: bold;
          border-bottom: solid 2px;
          margin-bottom: 10px;
          letter-spacing: 0.7px;
        }
        .region-center {
          margin-top: 10px;
          span {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }
    .region-objects, .region-demography, .input-form {
      .title {
        display: inline-block;
        //border-bottom: solid 1px;
        position: relative;
        border: solid 1px;
        padding: 5px 10px;
        transition: font-weight 0.5s, width 0.5s;
        box-sizing: border-box;
        &:hover {
          cursor: pointer;
          color: #213460;
          text-decoration: underline;
        }
      }
      .objects-list {
        max-height: 0px;
        overflow: hidden;
        margin: 10px 0px;
        background: #eaeaea;
        border: solid 0px;
        padding: 0px;
        transition: max-height 0.5s, padding 0.6s, border 0.6s;
      }
      .objects-list.display {
        max-height: 1200px;
        border: solid 1px;
        padding: 10px;
      }
      .category-item {
        .category-title {
          background: #fffefe;
          border: solid 1px;
          padding: 10px;
          margin-bottom: 10px;
          transition: background-color 0.5s;
          &:hover {
            background-color: #c3cad1;
            cursor: pointer;
          }
        }
        .category-title.active {
          background: #76838f;
          color: white;
          border: solid 1px black;
        }
        .current-object {
          .object-title {
            margin-bottom: 10px;
            background: #d6dadd;
            margin-left: 10px;
            padding: 10px;
            border: solid 1px;
            transition: all 0.5s;
            &:hover {
              background-color: #93bad7;
              cursor: pointer;
            }
          }
          .object-title.active {
            background-color: #9fcbeb;
          }
          .object-description {
            margin-left: 20px;
            background: #f4f2f2;
            overflow: hidden;
            height: 0px;
          }
          .object-description.display {
            height: initial;
            padding: 10px;
            margin-bottom: 20px;
            border: solid 1px black;
            .object-info {
              height: 100%;
              display: flex;
              .object-image {
                display: inline-block;
                img {
                  max-width: 100%;
                  max-height: 400px;
                  margin: 0px;
                }
              }
              .object-text {
                display: inline-block;
                margin-left: 10px;
                .stat {
                  margin-top: 20px;
                  >div {
                    margin-bottom: 10px;
                    .key {
                      display: inline-block;
                      font-weight: bold;
                    }
                    .value {
                      margin-left: 10px;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .calculate-investment-form {
        max-height: 0px;
        overflow: hidden;
        margin: 10px 0px;
        background: #eaeaea;
        border: solid 0px;
        padding: 0px;
        transition: max-height 0.5s, padding 0.6s, border 0.6s;
        form {
          .form-elements {
            display: flex;
            .left-row, .right-row {
              width: 50%;
              display: inline-block;
            }
            .right-row {
              float: right;
              padding-top: 10px;
              padding-right: 10px;
              height: initial;
              display: flex;
              flex-direction: column;
              .map-points {
                margin-top: 10px;
              }
            }
            .title-row {
              font-size: 14px;
              margin-left: 8px;
              margin-bottom: 10px;
              font-weight: bold;
              letter-spacing: 0.4px;
            }
          }
          .input-field {
            width: 500px;
            .label {
              color: black;
              font-size: 14px;
              font-weight: normal;
            }
            .field {
              input {
                width: 100%;
                padding: 5px;
                margin-left: 7px;
                margin-bottom: 10px;
              }
            }
          }
        }
        .result {
          margin-top: 10px;
          .result-title {
            font-weight: bold;
            font-size: 15px;
            border-bottom: solid 1px;
          }
        }
      }
      .calculate-investment-form.display {
        max-height: 3600px;
        border: solid 1px;
        padding: 10px;
      }
    }
  }
}
